*{
    padding: 0;
    margin: 0;
    /* border: 1px red solid; */
    font-family: "Inter";
    /* font-size: 1rem; */
    /* -webkit-text-fill-color: white; */
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}
main{
    background-color: #fff;
    width: 100%;
    height: calc(100% - 130px);
    display: flex;
    flex-direction: column;
    position: relative;
}
.nav-top{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: 100%;
    padding:6px;
    position: absolute;
    top:0;
}
.search-bar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    width: 50%;
    padding: 7px;
    border-radius: 8px;
    -webkit-text-fill-color: #afb2be;
    border: 1px #3b3d44 solid;
    background-color: transparent;
    background: url(../icons/search-line.png) no-repeat left;
    background-size: 15px;
    background-position: 7px 7px;
    text-indent: 22px;
}
.search-bar:focus{
    background: none;
    text-indent: 0px;
    outline: none;
    caret-color:#afb2be;
}

.icon-box{
    display: flex;
    gap: 15px;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 35%;
}
.icon-top{
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bottom{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: 100%;
    padding:6px;
    position: absolute;
    bottom:0;
}
.icon-bottom{
    height: 90%;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-text-fill-color: white;
    font-size: 0.7rem;
    align-items: center;
    gap: 2px;
}
.icon-bottom p{
    align-self: center;
}
.hero{
    width: 100%;
    height: 200px;
    padding-top: 10px;
    background-color: #121212;
    position: relative;
    display: flex;
    -webkit-text-fill-color: white;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.app-desc{
    display: flex;
    flex-direction: column;
}
.button-box{
    display: flex;

}
.add-product-button{
    background-color: #28e368;
    font-size: 1.1rem;
    border-radius: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 700;
    border-color: transparent;
    border-width: 0;
    margin-top: 10px;
    -webkit-text-fill-color: white;
    cursor: pointer;
}

.catalog{
    background-color: #121212;
    width: 100%;
    height: 100%;
    -webkit-text-fill-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, 90%);
    grid-template-rows: repeat(auto-fill, 135px);
    row-gap: 15px;
    padding-top: 10px;
    justify-content: space-evenly;
    align-items: start;
}

.product{
    width: 100%;
    height: 135px;
    background-color: white;
    border-radius: 20px;
    -webkit-text-fill-color: #121212;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.product-image-box{
    width: 100px;
    height: 100px;
    background-color: #3b3d445d;
    border-radius: 15px;
}
.product-details{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.product-name{
    font-size: 1.5rem;
}
.product-price{
    font-weight: 500;
}
.product-desc{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}