{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Edit Mood</title>
{% endblock meta %}

{% block content %}
<div class="relative h-[40rem] w-[21rem] flex flex-col items-center justify-center bg-[#ffffff17] py-12 px-4 m-auto font-[Inter] rounded-3xl sm:px-6 sm:w-[30rem] lg:px-8">
    <a href="{% url "main:show_main" %}" class="absolute top-3 left-3 rounded-full p-1 bg-[#ffffff17] h-10 w-10 flex justify-center items-center text-xl font-bold text-white cursor-pointer"><-</a>
    <h1 class="text-center text-white text-2xl font-extrabold">Edit Product</h1>
    <form method="POST" class="space-y-3">
        {% csrf_token %}
        {% for field in form %}
            <div class="flex flex-col gap-1">
                <label for="{{ field.id_for_label }}" class="font-semibold text-white">
                    {{ field.label }}
                </label>
                <div class="w-full">
                    {{ field }}
                </div>
                {% if field.help_text %}
                    <p class="mt-1 text-sm text-gray-500">{{ field.help_text }}</p>
                {% endif %}
                {% for error in field.errors %}
                    <p class="mt-1 text-sm text-red-600">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="flex justify-center mt-6">
            <button type="submit" class="relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-xl text-white bg-[#22c55ea6] hover:bg-[#acf0c5a6] hover:text-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#22c55ea6]">
                Edit Mood Entry
            </button>
        </div>
    </form>
</div>
{% endblock %}