{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>{{ app_name }}</title>
</head>
<body>
    <section class="nav-top">
        <div class="search-bar">
            <img src="" alt="">
            <span>Search</span>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </section>
    <!-- <menu class="menu">
        <div class="name-logo">
            <img src="" alt="" height="100px" width="100px">
            <h1>{{ app_name }}</h1>
        </div>
        <nav class="navigation">
            <div>Home</div>
            <div>Products</div>
            <div>Login</div>
            <div>Register</div>
        </nav>
    </menu> -->
    <!-- <h1>{{ app_name }}</h1>
    <p>{{ name }}</p>
    <p>{{ class }}</p> -->
</body>
</html>